SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/fooddelivery
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
APP_JWT_SECRET=VGhpc0lzQVN0cm9uZ0RldmVsb3BtZW50S2V5Rm9yRm9vZERlbGl2ZXJ5QXBwMTIzNDU2
APP_JWT_EXPIRATION_MS=86400000
